<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around center"
     fxLayoutGap="10px">

    <mat-card fxFlex> 
        <mat-card *ngIf="dish" fxFlex [@expand]>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>
                    <h3>{{dish.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ baseURL + dish.image }}" alt={{dish.name}}>
            <mat-card-content>
                <p>{{dish.description}}</p>
            </mat-card-content>
        </mat-card>
        <div [hidden]="dish || errorMessage" fxFlex>
            <mat-spinner></mat-spinner><h4>Loading the Dish . . .</h4>
        </div>
        <div fxFlex *ngIf="errorMessage">
            <h2>Error</h2>
            <h4>{{errorMessage}}</h4>
        </div>

        <mat-card *ngIf="promotion" fxFlex [@expand]>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>
                    <h3>{{promotion.name | uppercase}}</h3>
                </mat-card-title>
            </mat-card-header>
                <img mat-card-image src="{{ baseURL + promotion.image }}" alt={{promotion.name}}>
            <mat-card-content>
                <p>{{promotion.description}}</p>
            </mat-card-content>
        </mat-card>
        <div [hidden]="promotion || errorMessage" fxFlex>
            <mat-spinner></mat-spinner><h4>Loading Promotion . . .</h4>
        </div>
        <div fxFlex *ngIf="errorMessage">
            <h2>Error</h2>
            <h4>{{errorMessage}}</h4>
        </div>
        
        <mat-card *ngIf="featuredLeader" fxFlex [@expand]>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>
                <h3>{{featuredLeader.name | uppercase}} {{featuredLeader.abbr}}</h3>
                </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ baseURL + featuredLeader.image }}" alt={{featuredLeader.name}}>
            <mat-card-content>
                <p>{{featuredLeader.designation}}</p>
                <p>{{featuredLeader.description}}</p>
            </mat-card-content>
        </mat-card>
        <div [hidden]="featuredLeader || errorMessage" fxFlex>
            <mat-spinner></mat-spinner><h4>Loading Featured Leader . . .</h4>
        </div>
        <div fxFlex *ngIf="errorMessage">
            <h2>Error</h2>
            <h4>{{errorMessage}}</h4>
        </div>

    </mat-card>

</div>
